# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build and cache directories
dist/
build/
.cache/

# Ignore backend-specific files (Node.js)
backend/.env
backend/node_modules/
backend/npm-debug.log
backend/yarn-debug.log
backend/yarn-error.log
backend/dist/

# Ignore frontend-specific files (React)
frontend/node_modules/
frontend/build/
frontend/.cache/
frontend/.eslintcache
frontend/coverage/

# Ignore logs and temporary files
logs/
*.log
*.tmp
*.temp